core/*.pyc
core/envs/*.pyc
core/models/*.pyc
core/memories/*.pyc
core/agents/*.pyc
optims/*.pyc
utils/*.pyc
models/*
logs/*

.project
.pydevproject
.settings/
core/__pycache__/
core/agents/__pycache__/
core/envs/__pycache__/
core/memories/__pycache__/
core/models/__pycache__/
optims/__pycache__/
utils/__pycache__/

